body {
  background-color: #66fcf1;
  background: url("https://raw.githubusercontent.com/sayak-dutta/sayak-dutta.github.io/main/img/background.png");
  background-size: cover ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

hr {
  height: 5px;
  width: 60px;
  border-width: 6px;
  border-style: dotted none none;
  border-color: #66fcf1;
}

p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: lighter;
  color: #66fcf1;
  font-size: 120;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 120px;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: ;
  color: #66fcf1;
  font-size: 23;
  width: 160px;
  height: 50px;
  border-color: #66fcf1;
  border-radius: 13px;
  background: none;
  transition: 0.2s;
  margin: 0 auto;
  outline: none;
}
button:active {
  transform: scale(1.1);
}

#logo {
  width: 100;
  height: 100px;
  line-height: 50%;
}

.social-icons {
  width: 35px;
  height: 35px;
  padding: 2;
  transition: 0.2s;
  margin: 0;
}
.social-icons:hover {
  transform: scale(1.15);
  opacity: 0.3;
}

#sayak {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  color: #66fcf1;
  font-size: 120;
  text-align: center;
}

.subtitle {
  font-weight: lighter;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 42;
  text-align: center;
  line-height: 10%;
}

.headline {
  text-align: left;
  line-height: 92%;
}
.centered {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
  color: #66fcf1;
  list-style-type: none;
}

